.card {
    display: flex;
    gap: 18px;
    padding: 29px 0 35px 0;
    border-bottom: 1px solid rgb(224, 224, 224);
}


.image {
    height: 180px;
    border-radius: 6px;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}
.row{
    display: flex;
    align-items: center;
    gap: 26px;
}
.pill{
    background-color: #cd3030;
    border-radius: 9999px;
    padding: 4px 12px;
    font-size: 18px;
    font-weight: 900;
}
.tag{
    background-color:rgb(134, 149, 164);
    border-radius: 9999px;
    padding: 4px 10px;  
    font-size: 20px;
}
